// Paleta de colores para modo claro y modo oscuro
// Modo claro (por defecto)
body, .header, .main-content, .footer, .skill, .project-card, .contact-card {
  $time: 1s;
  transition: background $time, color $time, box-shadow $time;
}

body {
  background: $accent-light;
  color: $text-primary;

  .header, .footer, .main-content {
    background: $gradient-primary;
    color: $text-light;
  }

  .skill, .project-card, .contact-card {
    background: $secondary-dark;
    color: $text-primary;
  }

  a {
    color: $success-color;
  }
}

// Modo oscuro
body.dark-mode {
	background: $bg-dark;
	color: $text-light;

	.header {
		background: $gradient-dark;
	}

	.main-content {
		background: $bg-darker;
		color: $text-light;
	}

	.footer,
	.footer-simple,
	.footer-gradient {
		background: $gradient-dark;
		color: $text-light;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $text-light;
	}

	p, li, a {
		color: $accent-light;
	}

	.skill {
		background: $gradient-dark;
		color: $text-light;
	}

	.project-card {
		background: $gradient-dark;
		color: $accent-light;
	}

	.contact-card {
		background: $gradient-dark;
		color: $text-light;
	}

	a {
		color: $success-color;
	}

	/*
    .header__switch .theme-icon {
		// Opcional: cambia el color del sol/luna en modo oscuro
	}
    */
}